<div class="cms-page-ranch">

  <div class="cms-header container-fluid">
    <div class="row">
      <div class="col">
        <div class="heading-group">
          <span class="heading-title">Ranch Home</span>
          <p>A Touch of the Ranch for your Home or Camp</p>
          <a href="/search?keywords=glassware" class="button-style"
            title="Click for Ranch Home from King Ranch">Glassware</a>
          <a href="/search?keywords=flatware" class="button-style"
            title="Click for Ranch Home from King Ranch">Flatware</a>
          <a href="/search?keywords=food" class="button-style" title="Click for Ranch Home from King Ranch">Foods</a>
          <a href="/search?keywords=knives" class="button-style" title="Click for Ranch Home from King Ranch">Knives</a>
        </div>
      </div>
    </div>
  </div>

  <div class="cms-spotlight__2-col container-fluid dark-bg">
    <div class="wrapper">
      <div class="col-lg-5 col-lg-push-5 col-lg-offset-1 cms-spotlight__2-col_photo">
        <img src="/img/landing_page_assets/cms-page__ranch-wine.jpg" alt="King Ranch Leather Wine Carrier">
      </div>
      <div class="col-lg-5 col-lg-pull-5 cms-spotlight__2-col_body">
        <p class="tinytype">PRODUCT NUMBER: 223559</p>
        <h3>Travel in Style.</h3>
        <p class="subheading">King Ranch Leather Wine Carrier</p>
        <p>Luxury and elegance that will age beautifully with time. Buckle strap
          with a snap underneath for an easy access to the main compartment,
          perfect for your favorite wines.</p>
        <a href="/search?keywords=wine%20carrier" class="btn btn-primary"
          title="Click to read this article from the King Ranch blog">READ MORE</a>
      </div>
    </div>
  </div>

  <div class="cms__3up-feature-columns container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__ranch-cat_dinnerware.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">Functional Everyday Reminders</p>
            <h2 class="card-title">Dinnerware</h2>
            <a href="/subcategory/Dinnerware" class="btn btn-primary" title="Click to shop shirts and pants.">Shop
              Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__ranch-cat_glassware.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">Unwind, Ranch Style</p>
            <h2 class="card-title">Glassware</h2>
            <a href="/subcategory/Glassware" class="btn btn-primary" title="Click to shop shirts and pants.">Shop
              Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__ranch-cat_flatware.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">Trusted by Ranch Chefs and Outfitters alike.</p>
            <h2 class="card-title">Flatware</h2>
            <a href="/subcategory/Flatware" class="btn btn-primary" title="Click to shop shirts and pants.">Shop Now</a>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__ranch-cat_foods.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">Perfect for Gifting or Special Events</p>
            <h2 class="card-title">Foods</h2>
            <a href="/search?keywords=foods" class="btn btn-primary" title="Click to shop shirts and pants.">Shop
              Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__ranch-cat_books.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">A Deeper Look into the History of the Ranch</p>
            <h2 class="card-title">Books</h2>
            <a href="/subcategory/Books" class="btn btn-primary" title="Click to shop shirts and pants.">Shop Now</a>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__ranch-cat_pillows.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">Ranch Decoration and Home Goods</p>
            <h2 class="card-title">Pillows &amp; Throws</h2>
            <a href="/subcategory/Pillows--AND--Throws" class="btn btn-primary"
              title="Click to shop shirts and pants.">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Slide Begin -->
  <script>
    // Load the Product Carousel
    $(document).ready(function () {
      console.log("ready!");
      $('.the-product-slider .row').bxSlider({
        auto: true,
        minSlides: 1,
        maxSlides: 6,
        slideWidth: 230,
        moveSlides: 1,
        pager: false,
        shrinkItems: true,
        prevText: '<a class="btn-arrow btn-arrow-prev"><span></span></a>',
        nextText: '<a class="btn-arrow btn-arrow-next"><span></span></a>'
      });
      console.log("done!");
    });
  </script>
  <section class="the-product-slider">

    <h1 class="heading-marquee v2">King Ranch<br>Best Selllers</h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/Elite-Vented-Long-Sleeve-Shirt?color=237">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/223276_Coyote-Color.png?resizeid=6&resizeh=1200&resizew=1200"
                alt="ELITE VENTED LONG SLEEVE SHIRT">
              <div class="card-body">
                <h5 class="card-title">ELITE VENTED LONG SLEEVE SHIRT</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/Ladies-Short-Sleeve-Shooting-Shirt?color=20">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/223759_Denim-Color[1].png?resizeid=6&resizeh=1200&resizew=1200"
                alt="LADIES SHORT SLEEVE SHOOTING SHIRT">
              <div class="card-body">
                <h5 class="card-title">LADIES SHORT SLEEVE SHOOTING SHIRT</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/RANCH-TOTE">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/223575_Chaparral%20Docil-Color.png?resizeid=6&resizeh=1200&resizew=1200"
                alt="RANCH TOTE">
              <div class="card-body">
                <h5 class="card-title">RANCH TOTE</h5>
              </div>

            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/Four-Box-Shell-Carrier?custcol_canvcolor=1">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/1076_Canvas-image.jpg?resizeid=6&resizeh=1200&resizew=1200"
                alt="FOUR BOX SHELL CARRIER">
              <div class="card-body">
                <h5 class="card-title">FOUR BOX SHELL CARRIER</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/ARMSTRONG-RIFLE-CASE?color=220">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/222256_front_main-image.jpg?resizeid=6&resizeh=1200&resizew=1200"
                alt="ARMSTRONG RIFLE CASE">
              <div class="card-body">
                <h5 class="card-title">ARMSTRONG RIFLE CASE</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/QUAD-JOURNEYMAN">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/221071_main-image[5].jpg?resizeid=6&resizeh=1200&resizew=1200"
                alt="CANVAS QUAD JOURNEYMAN">
              <div class="card-body">
                <h5 class="card-title">CANVAS QUAD JOURNEYMAN</h5>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Slide End -->
  <div class="section-breaker"></div>

  <div class="cms-spotlight__full">
    <div class="wrapper">
      <img class="cms-spotlight__full_photo" src="/img/landing_page_assets/cms-page__ranch-spotlight_bg.jpg"
        alt="Elite Vented Shirt">
      <div class="cms-spotlight__full_body">
        <h3>King Ranch Cook Book</h3>
        <p>Classic recipes from our house to yours.</p>
        <a href="/KING-RANCH-COOK-BOOK" class="btn btn-primary">Shop Now</a>
      </div>
    </div>
  </div>

  <div class="cms-spotlight__3-col">
    <h5>Explore Our Other Gear:</h5>
    <div class="container">
      <div class="row">
        <div class="col col-sm-3">
          <div class="card">
            <a href="/subcategory/Carry-Ons--AND--Duffels"
              title="Click to shop leather luggage, duffles, and cary-on collection.">
              <img class="card-img-top" src="/img/landing_page_assets/cms-page__mens-explore_leather.jpg"
                alt="Leather goods Collection">
              <div class="card-body">
                <p class="card-tagline">Explore King Ranch</p>
                <h3 class="card-title">Leather Goods</h3>
              </div>
            </a>
          </div>
        </div>
        <div class="col col-sm-3">
          <div class="card">
            <a href="/subcategory/Knives" title="Click to shop King Ranch quality knives.">
              <img class="card-img-top" src="/img/landing_page_assets/cms-page__mens-explore_knives.jpg">
              <div class="card-body">
                <p class="card-tagline">Explore King Ranch</p>
                <h3 class="card-title">Knives</h3>
              </div>
            </a>
          </div>
        </div>
        <div class="col col-sm-3">
          <div class="card">
            <a href="/subcategory/Shave-Cases" title="Click to shop luxury leather for travel.">
              <img class="card-img-top" src="/img/landing_page_assets/cms-page__mens-explore_travel.jpg"
                alt="Shop red leather luxury goods for your home.">
              <div class="card-body">
                <p class="card-tagline">Explore King Ranch</p>
                <h3 class="card-title">Travel Gear</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>