<!-- Snakeboot Begin -->
<div class="cms-page-snakeboot">
  <!-- Title Video -->
  <section class="cms-page-snakeboot__intro">
    <div class="cms-page-snakeboot__intro_leadin">
      <p>A King Ranch Saddle Shop and Lucchese Boots Partnership</p>
      <h1>King Ranch Snake Boot</h1>
    </div>

    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/522547160?autoplay=0&loop=1&title=0&byline=0&portrait=0&muted=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
    
    <div class="cms-page-snakeboot__intro_cobranding">
      <img src="/img/landing_page_assets/cms-page__snakeboot_king-ranch__lucchese.png" alt="King Ranch and Lucchese Boots Snake Boot Partnership Logo">
    </div>

  </section>

  <!-- Built for this country -->

  <section class="cms-page-snakeboot__built section-copy--center section-padding">
    <h2 class="title title--bold">BUILT FOR THIS COUNTRY</h2>
    <p>With a combined experience of over 300 years in Leather and Footwear, we’ve partnered to introduce the next milestone in a legacy of Texas outfitters, the King Ranch Snake Boot.  Featuring renowned Lucchese quality and style, reinforced with a TurtleSkin&trade; bite and venom protective barrier, these men's and women's snake boots have been rigorously tested and deemed worthy of the King Ranch name.</p>
  </section>

  <!-- Three Columns -->
  <div class="cms__3up-feature-columns container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="/img/landing_page_assets/cms-page__snakeboot-MIDCOLUMN_04.jpg"
              alt="WOMEN’S LOW TOP SNAKE BOOT">
            <div class="card-body">
              <p class="card-tagline">The King Ranch Snake Boot - Product Number: 224048</p>
              <h2 class="card-title">WOMEN’S LOW TOP<br>SNAKE BOOT</h2>
              <a href="/subcategory/Handbags--AND--Wallets" class="btn btn-primary"
                title="Click to shop The King Ranch Snake Boot.">Shop Now</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="/img/landing_page_assets/cms-page__snakeboot-MIDCOLUMN_01.jpg"
              alt="WOMEN’S HIGH TOP SNAKE BOOT">
            <div class="card-body">
              <p class="card-tagline">The King Ranch Snake Boot - Product Number: 224047</p>
              <h2 class="card-title">WOMEN’S HIGH TOP<br>SNAKE BOOT</h2>
              <a href="/subcategory/Womens-Apparel" class="btn btn-primary" title="Click to shop The King Ranch Snake Boot.">Shop
                Now</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="/img/landing_page_assets/cms-page__snakeboot-MIDCOLUMN_03.jpg"
              alt="KING RANCH LUCCHESE SNAKE BOOT">
            <div class="card-body">
              <p class="card-tagline">The King Ranch Snake Boot - Product Number: 224049</p>
              <h2 class="card-title">KING RANCH LUCCHESE<br>SNAKE BOOT</h2>
              <a href="/subcategory/Womens-Boots" class="btn btn-primary" title="Click to shop The King Ranch Snake Boot.">Shop
                Now</a>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Rattlesnake Banner -->

  <section class="cms-page-snakeboot__rattlesnake section-banner--full-background">
    <div class="section-banner__content">
      <img class="section-banner__content--image" src="/img/landing_page_assets/cms-page__snakeboot-fullwidth-banner.jpg" alt="Rattle snake in the grass.">
    </div>
  </section>

  <!-- Feature Set -->

  <section class="cms-page-snakeboot__feature-set">
    <h3 class="title title--bold">A FEATURE SET UNIQUE TO KING RANCH:</h3>
    <div class="container">
      <div class="row">
        <div class="card--featureset col-xs-12 col-sm-6 col-md-3">
          <img src="/img/landing_page_assets/cms-page__snakeboot-feature_01.jpg" alt="Turtle skin protective barrier.">
          <div class="copy">
            <img src="/img/landing_page_assets/cms-page__snakeboot_featureset--01.png" alt="Turtle skin">
            <h4 class="title title--bold">TurtleSkin&trade;<br>Protective Barrier</h4>
          </div>
        </div>
        <div class="card--featureset col-xs-12 col-sm-6 col-md-3">
          <img src="/img/landing_page_assets/cms-page__snakeboot-feature_02.jpg" alt="Durable Leather Construction">
          <div class="copy">
            <img src="/img/landing_page_assets/cms-page__snakeboot_featureset--02.png" alt="Durable Leather">
            <h4 class="title title--bold">Durable Leather<br>Construction</h4>
          </div>
        </div>
        <div class="card--featureset col-xs-12 col-sm-6 col-md-3">
          <img src="/img/landing_page_assets/cms-page__snakeboot-feature_03.jpg" alt="Made in Texas">
          <div class="copy">
            <img src="/img/landing_page_assets/cms-page__snakeboot_featureset--03.png" alt="Texas">
            <h4 class="title title--bold">Handmade in<br>El Paso, TX</h4>
          </div>
        </div>
        <div class="card--featureset col-xs-12 col-sm-6 col-md-3">
          <img src="/img/landing_page_assets/cms-page__snakeboot-feature_04.jpg" alt="Embedded Outsole">
          <div class="copy">
            <img src="/img/landing_page_assets/cms-page__snakeboot_featureset--04.png" alt="Outsole">
            <h4 class="title title--bold">Embedded Outsole<br>Durability and Grip</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Boot Diagram -->
  <section class="cms-page-snakeboot__diagram">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 snakeboot-diagram">
          <img src="/img/landing_page_assets/cms-page__snakeboot-diagram.png" alt="Snake Book Diagram with features highlighted with numbers">
          <div class="feature-number feature--01">1</div>
          <div class="feature-number feature--02">2</div>
          <div class="feature-number feature--03">3</div>
          <div class="feature-number feature--04">4</div>
          <div class="feature-number feature--05">5</div>
          <div class="feature-number feature--06">6</div>
        </div>
        <div class="col-xs-12 col-md-6 snakeboot-diagram--list">
          <ul>
            <li>
              <div class="feature-number feature--01">1</div>
              <p>Fully lined (vamp and quarters) with TurtleSkin&trade; SnakeArmor’s patented technology for lightweight, high-strength protection.</p>
            </li>
            <li>
              <div class="feature-number feature--02">2</div>
              <p>Waxed storm welt for increased wear and water protection.</p>
            </li>
            <li>
              <div class="feature-number feature--03">3</div>
              <p>Full leather lining for comfort.</p>
            </li>
            <li>
              <div class="feature-number feature--04">4</div>
              <p>King Ranch Running W embroidered logo detail on every pair.</p>
            </li>
            <li>
              <div class="feature-number feature--05">5</div>
              <p>Grooved Vibram&reg; outsole for sure footing on Women’s models and Lucchese Xtreme crepe&reg; outsole with extended wear rubber pad for Men’s Models.</p>
            </li>
            <li>
              <div class="feature-number feature--06">6</div>
              <p>Women’s boots are available in either a 15” height with covered side seams or a 17” full height for extended protection.</p>
            </li>
            <li>
              <div class="feature-number feature--07">7</div>
              <p>Rigorously tested, designed, and educated by the Hunting Guides of King Ranch.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Blog -->
  <section class="cms-page-snakeboot__blog">
    <div class="cms-spotlight__full ">
      <div class="wrapper">
        <img class="cms-spotlight__full_photo" src="/img/landing_page_assets/cms-page__snakeboot-FULLWIDTH_01b.jpg" alt="Elite Vented Shirt">
        <div class="cms-spotlight__full_body" style="top:unset;bottom:0px">
          <h3>Covey Rise Blog Title</h3>
          <p>Behind the Scenes with King Ranch Saddle Shop and Covey Rise</p>
          <a href="" class="btn btn-primary">READ THE BLOG</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Field Tested -->
  <section class="cms-page-snakeboot__fieldtested">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img src="/img/landing_page_assets/cms-page__snakeboot-field-tested.jpg" alt="Field tested Snake boots.">
        </div>
        <div class="col-xs-12 col-md-6 the-copy">
          <img src="/img/landing_page_assets/cms-page_snakeboot--fieldtested.png" alt="Field tested Snake boots.">
          <p>From day hunts out of our Saltillo Lodge to longer excursions spent tracking Nilgai in the Norias Division, no one puts more miles in their snake boots than our King Ranch Guides.</p>
          <p>When it came time to consider how we would redesign such an integral piece of field gear, our guides and staff were the first people to provide the input that ultimately became the King Ranch Snake Boot.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Built for this Country -->
  <section class="cms-page-snakeboot__builtforthiscountry section-banner--full-background">
    <div class="section-banner__content">
      <img class="section-banner__content--image" src="/img/landing_page_assets/cms-page__snakeboot--forcountry-banner.jpg" alt="King Ranch and Lucchese Snakeboot - Built for this country.">
      <div class="section-banner__content--copy align-bottom">
        <img src="/img/landing_page_assets/cms-page__snakeboot--wordmark-builtforthisB.png" alt="Built for this.">
      </div>
    </div>
  </section>

    <!-- Slide Begin -->
    <script>
      // Load the Product Carousel
      $(document).ready(function () {
        console.log("ready!");
        $('.the-product-slider .row').bxSlider({
          auto: true,
          minSlides: 1,
          maxSlides: 6,
          slideWidth: 230,
          moveSlides: 1,
          pager: false,
          shrinkItems: true,
          prevText: '<a class="btn-arrow btn-arrow-prev"><span></span></a>',
          nextText: '<a class="btn-arrow btn-arrow-next"><span></span></a>'
        });
        console.log("done!");
      });
    </script>
  <section class="the-product-slider">

    <h1 class="heading-marquee v2">King Ranch<br>Essentials</h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/KINENO-JACKET">
              <img class="card-img-top"
                src="https://marvel-b1-cdn.bc0a.com/f00000000084691/www.krsaddleshop.com/Images/products/215873_main-image.jpg?resizeid=6&resizeh=1200&resizew=1200"
                alt="KINEÑO JACKET">
              <div class="card-body">
                <h5 class="card-title">KINEÑO JACKET</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/2021-LIMITED-EDITION-KING-RANCH-KNIFE">
              <img class="card-img-top"
                src="https://marvel-b1-cdn.bc0a.com/f00000000084691/www.krsaddleshop.com/Images/products/224013_main-image.jpg?resizeid=6&resizeh=1200&resizew=1200"
                alt="2021 LIMITED EDITION KING RANCH KNIFE">
              <div class="card-body">
                <h5 class="card-title">2021 LIMITED EDITION KING RANCH KNIFE</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/Mens-Bonded-Poly-Vest">
              <img class="card-img-top"
                src="https://marvel-b1-cdn.bc0a.com/f00000000084691/www.krsaddleshop.com/Images/products/218939_Olive-Color.png?resizeid=6&resizeh=1200&resizew=1200"
                alt="MEN'S BONDED POLY VEST">
              <div class="card-body">
                <h5 class="card-title">MEN'S BONDED POLY VEST</h5>
              </div>

            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/LEATHER-GAME-CARRIER">
              <img class="card-img-top"
                src="https://marvel-b1-cdn.bc0a.com/f00000000084691/www.krsaddleshop.com/Images/products/222582_main-image[1].jpg?resizeid=6&resizeh=1200&resizew=1200"
                alt="LEATHER GAME CARRIER">
              <div class="card-body">
                <h5 class="card-title">LEATHER GAME CARRIER</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/ARMSTRONG-RIFLE-CASE">
              <img class="card-img-top"
                src="https://marvel-b1-cdn.bc0a.com/f00000000084691/www.krsaddleshop.com/Images/products/222256_front_main-image.jpg?resizeid=6&resizeh=1200&resizew=1200"
                alt="ARMSTRONG RIFLE CASE">
              <div class="card-body">
                <h5 class="card-title">ARMSTRONG RIFLE CASE</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/Ladies-Shooting-Vest">
              <img class="card-img-top"
                src="https://marvel-b1-cdn.bc0a.com/f00000000084691/www.krsaddleshop.com/Images/products/223269_Olive-Color.png?resizeid=6&resizeh=1200&resizew=1200"
                alt="QUILTED SHOOTING VEST">
              <div class="card-body">
                <h5 class="card-title">QUILTED SHOOTING VEST</h5>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>
<!-- Snakeboot End-->