<div class="cms-page-about">
    <section class="cms-page-about__intro">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-md-6">
            
            <img src="/img/landing_page_assets/cms-page__about-intro-tmp.gif">
            <div class="content-wrapper">
              <h1>KINGSVILLE, TEXAS</h1>
              <p>The leather goods business of King Ranch originated in those chaotic years following
  the Civil War. During the War, the Ranch was raided and looted by Union
  troops. When the hostilities were finally over, Captain King re-established with
  the forethought that ranching in South Texas demanded not only good men,
  horses, and cattle, but also outstanding gear. He needed saddles that were durable,
  yet lightweight, comfortable to ride, yet easy on the horses' backs. Unsuccessful
  in finding saddles of this quality, he hired experienced craftsmen who
  could make them and soon began operating his own saddlery.</p>
              <p>The fame of King Ranch custom saddles and durable leather goods, which carried
  the Running W brand, quickly spread throughout the Southwest and
  brought with it the need to fill orders for outside customers.</p>
            </div>
          </div>
          <div class="col col-md-6">
            <img src="/img/landing_page_assets/cms-page__about-intro-compressor.jpg">
          </div>
        </div>
      </div>
    </section>
    
    <section class="cms-page-about__quote">
      <blockquote>
        The aim was to offer ranchers and cowboys, in an ever-widening territory, saddles and accessories of a quality and style suited to meet every need of the harsh range.
      </blockquote>
    </section>

    <section class="cms-page-about__grid">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="grid__lifestyle">
              <div class="row">
                <img class="col col-xs-4" src="/img/landing_page_assets/cms-page__about--grid-1.jpg">
                <img class="col col-xs-4" src="/img/landing_page_assets/cms-page__about--grid-2.jpg">
                <img class="col col-xs-4" src="/img/landing_page_assets/cms-page__about--grid-3.jpg">
                <img class="col col-xs-4" src="/img/landing_page_assets/cms-page__about--grid-4.jpg">
                <img class="col col-xs-4" src="/img/landing_page_assets/cms-page__about--grid-5.jpg">
                <img class="col col-xs-4" src="/img/landing_page_assets/cms-page__about--grid-6.jpg">
                <img class="col col-xs-4" src="/img/landing_page_assets/cms-page__about--grid-7.jpg">
                <img class="col col-xs-4" src="/img/landing_page_assets/cms-page__about--grid-8.jpg">
                <img class="col col-xs-4" src="/img/landing_page_assets/cms-page__about--grid-9.jpg">
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <p>The King Ranch Saddle Shop continues to practice what the
            early saddlemakers had learned. In materials, only the best is
            good enough, and in styling, simplicity has its own elegance.
            The land of King Ranch is incredibly harsh. The mesquite
            thorns and brush of the chaparral pierce and tear all but the
            toughest leathers. The tanning had to be perfect on the
            cowboy's equipment or the gear would disintegrate under the
            pitiless sun and humidity of South Texas.</p>

            <p></p>Today, King Ranch Saddle Shop, located in Kingsville, Texas,
            resides in the John B. Ragland Mercantile Building which is
            listed on the National Register of Historic Places. Built in
            1909, the building housed the most preeminent department
            store south of San Antonio for seventy years. Now after a
            meticulous restoration, the historic building once again
            bustles with trade. At this time, however, it is home of the
            King Ranch Saddle Shop. Here you can see third and fourth
            generation Kinenos (literally, the people of King Ranch)
            working in the same manner that they have for over 100 years,
            continuing a tradition of service and supply.</p>

            <p>In the spirit of this tradition, you will find in the following
            pages new products, old favorites, a few anecdotes on King
            Ranch history, and a variety of photographs taken on the Santa
            Gertrudis, Laureles, Norias, and Encino divisions of the King
            Ranch.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="cms-page-about__banded-quote">
      <blockquote>
        The hands have changed, but the techniques, craftsmanship, skill, and pride are all the same timeless quality that King Ranch has been long known for.
      </blockquote>
    </section>

    <section class="cms-page-about__locations">
      <div class="container">
        <h2>Our Locations</h2>
        <div class="row">
          <div class="col-md-7">
            <img src="/img/landing_page_assets/cms-page__about-retail.jpg">
          </div>
          <div class="col-md-5">

            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <div itemscope itemtype="http://schema.org/LocalBusiness">
                <h4><span itemprop="name">Saddle Shop</span></h4>
                <span itemprop="priceRange" class="hidden">King Ranch Saddle Shop</span>
                <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                  <img  class="hidden" src="https://blog.krsaddleshop.com/wp-content/uploads/2019/03/KRSS_LOGO_600x300.png" width="600" itemprop="url">
                </div>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <span itemprop="streetAddress">120 S. 6th St.</span><br>
                  <span itemprop="addressLocality">Kingsville</span>,
                  <span itemprop="addressRegion">TX </span>
                  <span itemprop="postalCode"> 78363</span>
                </div>
                
                <span itemprop="description">Here is a bit of copy about what makes this store unique and worth visiting. Etc, it can be four or more lines in length but shouldn’t be too wordy.</span>
                
                
                  <h5>STORE HOURS</h5>
                  <span class="clearfix" itemprop="telephone" content="+18772825777">1-877-282-5777</span>
                  <div itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                      <link itemprop="dayOfWeek" href="http://schema.org/Monday">Monday - <link itemprop="dayOfWeek" href="http://schema.org/Friday">Friday <time itemprop="opens" content="08:00:00">8:00 AM CT</time> - <time itemprop="closes" content="18:00:00">6:00 PM CT</time>
                      <br>
                      <link itemprop="dayOfWeek" href="http://schema.org/Saturday">Saturday <time itemprop="opens" content="10:00:00">10:00 AM CT</time> - <time itemprop="closes" content="18:00:00">6:00 PM CT</time>
                  </div>
                  <span class="clearfix" itemprop="faxNumber" content="+13615951011">1-361-595-1011</span>
                
                
              </div>
            </div>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-7">
            <img src="/img/landing_page_assets/cms-page__about-retail.jpg">
          </div>
          <div class="col-md-5">

            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <div itemscope itemtype="http://schema.org/LocalBusiness">
                <h4><span itemprop="name">Saddle Shop</span></h4>
                <span itemprop="priceRange" class="hidden">King Ranch Saddle Shop</span>
                <span itemprop="description">Here is a bit of copy about what makes this store unique and worth visiting. Etc, it can be four or more lines in length but shouldn’t be too wordy.</span>
                <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                  <img  class="hidden" src="https://blog.krsaddleshop.com/wp-content/uploads/2019/03/KRSS_LOGO_600x300.png" width="600" itemprop="url">
                </div>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <span itemprop="streetAddress">120 S. 6th St.</span><br>
                  <span itemprop="addressLocality">Kingsville</span>,
                  <span itemprop="addressRegion">TX </span>
                  <span itemprop="postalCode"> 78363</span>
                </div>
                
                
                  <h5>STORE HOURS</h5>
                  <span class="clearfix" itemprop="telephone" content="+18772825777">1-877-282-5777</span>
                  <div itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                      <link itemprop="dayOfWeek" href="http://schema.org/Monday">Monday - <link itemprop="dayOfWeek" href="http://schema.org/Friday">Friday <time itemprop="opens" content="08:00:00">8:00 AM CT</time> - <time itemprop="closes" content="18:00:00">6:00 PM CT</time>
                      <br>
                      <link itemprop="dayOfWeek" href="http://schema.org/Saturday">Saturday <time itemprop="opens" content="10:00:00">10:00 AM CT</time> - <time itemprop="closes" content="18:00:00">6:00 PM CT</time>
                  </div>
                  <span class="clearfix" itemprop="faxNumber" content="+13615951011">1-361-595-1011</span>
                
                
              </div>
            </div>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-7">
            <img src="/img/landing_page_assets/cms-page__about-retail.jpg">
          </div>
          <div class="col-md-5">

            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <div itemscope itemtype="http://schema.org/LocalBusiness">
                <h4><span itemprop="name">Saddle Shop</span></h4>
                <span itemprop="priceRange" class="hidden">King Ranch Saddle Shop</span>
                <span itemprop="description">Here is a bit of copy about what makes this store unique and worth visiting. Etc, it can be four or more lines in length but shouldn’t be too wordy.</span>
                <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                  <img  class="hidden" src="https://blog.krsaddleshop.com/wp-content/uploads/2019/03/KRSS_LOGO_600x300.png" width="600" itemprop="url">
                </div>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <span itemprop="streetAddress">120 S. 6th St.</span><br>
                  <span itemprop="addressLocality">Kingsville</span>,
                  <span itemprop="addressRegion">TX </span>
                  <span itemprop="postalCode"> 78363</span>
                </div>
                
                
                  <h5>STORE HOURS</h5>
                  <span class="clearfix" itemprop="telephone" content="+18772825777">1-877-282-5777</span>
                  <div itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                      <link itemprop="dayOfWeek" href="http://schema.org/Monday">Monday - <link itemprop="dayOfWeek" href="http://schema.org/Friday">Friday <time itemprop="opens" content="08:00:00">8:00 AM CT</time> - <time itemprop="closes" content="18:00:00">6:00 PM CT</time>
                      <br>
                      <link itemprop="dayOfWeek" href="http://schema.org/Saturday">Saturday <time itemprop="opens" content="10:00:00">10:00 AM CT</time> - <time itemprop="closes" content="18:00:00">6:00 PM CT</time>
                  </div>
                  <span class="clearfix" itemprop="faxNumber" content="+13615951011">1-361-595-1011</span>
                
                
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>    
  </div>