<div class="cms-page-office">

  <div class="cms-header container-fluid">
    <div class="row">
      <div class="col">
        <div class="heading-group">
          <span class="heading-title">Office</span>
          <p>Items for Work and the Frequent Traveler.</p>
          <a href="/subcategory/Womens-Apparel" class="button-style" title="Click for Luggage from King Ranch">Briefcases</a>
          <a href="#" class="button-style" title="Click for Luggage from King Ranch">Saddle Stitch Collection</a>
          <a href="/subcategory/Handbags--AND--Wallets" class="button-style" title="Click for Luggage from King Ranch">Office Accessories</a>
          <a href="/subcategory/Womens-Boots" class="button-style" title="Click for Luggage from King Ranch">Corporate Gifting</a>
        </div>
      </div>
    </div>
  </div>

  <div class="cms-spotlight__2-col container-fluid dark-bg">
    <div class="wrapper">
      <div class="col-lg-5 col-lg-push-5 col-lg-offset-1 cms-spotlight__2-col_photo">
        <img src="/img/landing_page_assets/cms-page__office-messenger.jpg" alt="Saddle Stitch Leather Messenger">
      </div>
      <div class="col-lg-5 col-lg-pull-5 cms-spotlight__2-col_body">
        <p class="tinytype">PRODUCT NUMBER: 221338</p>
        <h3>Our Favorite Briefcase</h3>
        <p class="subheading">SADDLE STITCH LEATHER MESSENGER</p>
        <p>This messenger bag is built for the long haul with its rugged construction,
          two hand-stitched straps with tab closures-while the rolled leather handle
          and detachable leather shoulder strap make it easy to sling and go.</p>
        <a href="https://blog.krsaddleshop.com/2020/05/conservation-baptism-by-fire/" class="btn btn-primary"
          title="Click to read this article from the King Ranch blog">READ MORE</a>
      </div>
    </div>
  </div>

  <div class="cms__3up-feature-columns container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__office-cat_briefcases.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">Your Everyday Business Companion</p>
            <h2 class="card-title">Briefcases</h2>
            <a href="/subcategory/Knives" class="btn btn-primary" title="Click to shop shirts and pants.">Shop Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__office-cat_agendas.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">The Essentials, Redefined</p>
            <h2 class="card-title">AGENDAS &amp; TABLET CASES</h2>
            <a href="/subcategory/Knives" class="btn btn-primary" title="Click to shop shirts and pants.">Shop Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__office-cat_desk.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">A Reminder of the Ranch</p>
            <h2 class="card-title">Office & Desk Items</h2>
            <a href="/subcategory/Knives" class="btn btn-primary" title="Click to shop shirts and pants.">Shop Now</a>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__office-cat_furniture.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">Office Staples</p>
            <h2 class="card-title">Furniture</h2>
            <a href="/subcategory/Knives" class="btn btn-primary" title="Click to shop shirts and pants.">Shop Now</a>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__office-cat_leather.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">From Business Cards to Credit Cards</p>
            <h2 class="card-title">Leather Goods</h2>
            <a href="/subcategory/Knives" class="btn btn-primary" title="Click to shop shirts and pants.">Shop Now</a>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/landing_page_assets/cms-page__office-cat_gifting.jpg"
            alt="ANTLER HANDLE LION KNIFE">
          <div class="card-body">
            <p class="card-tagline">Show your Gratitude</p>
            <h2 class="card-title">Corporate Gifting</h2>
            <a href="/subcategory/Knives" class="btn btn-primary" title="Click to shop shirts and pants.">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Slide Begin -->
  <script>
    // Load the Product Carousel
    $(document).ready(function () {
      console.log("ready!");
      $('.the-product-slider .row').bxSlider({
        auto: true,
        minSlides: 1,
        maxSlides: 6,
        slideWidth: 230,
        moveSlides: 1,
        pager: false,
        shrinkItems: true,
        prevText: '<a class="btn-arrow btn-arrow-prev"><span></span></a>',
        nextText: '<a class="btn-arrow btn-arrow-next"><span></span></a>'
      });
      console.log("done!");
    });
  </script>
  <section class="the-product-slider">

    <h1 class="heading-marquee v2">King Ranch<br>Best Selllers</h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/Elite-Vented-Long-Sleeve-Shirt?color=237">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/223276_Coyote-Color.png?resizeid=6&resizeh=1200&resizew=1200"
                alt="ELITE VENTED LONG SLEEVE SHIRT">
              <div class="card-body">
                <h5 class="card-title">ELITE VENTED LONG SLEEVE SHIRT</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/Ladies-Short-Sleeve-Shooting-Shirt?color=20">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/223759_Denim-Color[1].png?resizeid=6&resizeh=1200&resizew=1200"
                alt="LADIES SHORT SLEEVE SHOOTING SHIRT">
              <div class="card-body">
                <h5 class="card-title">LADIES SHORT SLEEVE SHOOTING SHIRT</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/RANCH-TOTE">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/223575_Chaparral%20Docil-Color.png?resizeid=6&resizeh=1200&resizew=1200"
                alt="RANCH TOTE">
              <div class="card-body">
                <h5 class="card-title">RANCH TOTE</h5>
              </div>

            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/Four-Box-Shell-Carrier?custcol_canvcolor=1">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/1076_Canvas-image.jpg?resizeid=6&resizeh=1200&resizew=1200"
                alt="FOUR BOX SHELL CARRIER">
              <div class="card-body">
                <h5 class="card-title">FOUR BOX SHELL CARRIER</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/ARMSTRONG-RIFLE-CASE?color=220">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/222256_front_main-image.jpg?resizeid=6&resizeh=1200&resizew=1200"
                alt="ARMSTRONG RIFLE CASE">
              <div class="card-body">
                <h5 class="card-title">ARMSTRONG RIFLE CASE</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="card product">
            <a href="https://www.krsaddleshop.com/QUAD-JOURNEYMAN">
              <img class="card-img-top"
                src="https://www.krsaddleshop.com/Images/products/221071_main-image[5].jpg?resizeid=6&resizeh=1200&resizew=1200"
                alt="CANVAS QUAD JOURNEYMAN">
              <div class="card-body">
                <h5 class="card-title">CANVAS QUAD JOURNEYMAN</h5>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Slide End -->
  <div class="section-breaker"></div>

  <div class="cms-spotlight__full">
    <div class="wrapper">
      <img class="cms-spotlight__full_photo" src="/img/landing_page_assets/cms-page__office-spotlight_bg.jpg"
        alt="Elite Vented Shirt">
      <div class="cms-spotlight__full_body">
        <h3>A Lifetime Investment</h3>
        <p>Natural Leather Briefcases for any style or occasion.</p>
        <a href="/search?keywords=Men" class="btn btn-primary">Shop Now</a>
      </div>
    </div>
  </div>

  <div class="cms-spotlight__3-col">
    <h5>Explore Our Other Gear:</h5>
    <div class="container">
      <div class="row">
        <div class="col col-sm-3">
          <div class="card">
            <a href="http://kingranch.production.netsuitestaging.com/sca-dev-montblanc/shopping-local.ssp#/subcategory/Carry-Ons--AND--Duffels"
              title="Click to shop leather luggage, duffles, and cary-on collection.">
              <img class="card-img-top" src="/img/landing_page_assets/cms-page__mens-explore_leather.jpg"
                alt="Leather goods Collection">
              <div class="card-body">
                <p class="card-tagline">Explore King Ranch</p>
                <h3 class="card-title">Leather Goods</h3>
              </div>
            </a>
          </div>
        </div>
        <div class="col col-sm-3">
          <div class="card">
            <a href="/subcategory/Knives" title="Click to shop King Ranch quality knives.">
              <img class="card-img-top" src="/img/landing_page_assets/cms-page__mens-explore_knives.jpg">
              <div class="card-body">
                <p class="card-tagline">Explore King Ranch</p>
                <h3 class="card-title">Knives</h3>
              </div>
            </a>
          </div>
        </div>
        <div class="col col-sm-3">
          <div class="card">
            <a href="/subcategory/Shave-Cases" title="Click to shop luxury leather for travel.">
              <img class="card-img-top" src="/img/landing_page_assets/cms-page__mens-explore_travel.jpg"
                alt="Shop red leather luxury goods for your home.">
              <div class="card-body">
                <p class="card-tagline">Explore King Ranch</p>
                <h3 class="card-title">Travel Gear</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>