/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.global-views-back-to-top {
    background: #e3e1d1;
    border-bottom: 1px solid darken(#e3e1d1, 20%);
    display: block;
    text-align:center;
    padding-bottom: $sc-base-padding * 3;
    font-family: $font-family-syncopate;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    color: #777a6c;
    @media (min-width: $screen-sm-min) {
        display: none;
    }
    a {
        color: #777a6c;
    }
}
.global-views-back-to-top a:hover {
    text-decoration: none;
}
.global-views-back-to-top-icon {
    @extend .icon-angle-up;
    color: #777a6c;
    display: block;
    font-size: 22px;
    padding: $sc-base-padding * 2 0 0;
}