/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// The Entire Login Form
.login-register-body {
	margin-bottom: 40px;
}

.login-register-wrapper-login {
	background-color: white;
	@media (min-width: $screen-lg-min){
		padding: 30px 100px 30px 0px;
	}
	.login-register-login-forgot {
		margin-left: 0;
		color: #777a6c;
		text-decoration: underline;
	}
}

.login-register-wrapper-register {
	background-color: white;
	@media (min-width: $screen-lg-min){
		padding: 30px 0px 30px 100px;
	}
}

// Page Heading
.login-register-title {
	color: #777a6c;
    font-family: "Syncopate",Verdana,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
	font-weight: 700;
	margin-bottom: 20px;
}

// Form - Returning Customer

.login-register-login-title, .login-register-title-register {
	font-size: 0.9rem;
    padding: 1rem 1.6rem 1rem 2rem;
    font-family: "Syncopate",Verdana,"Helvetica Neue",Helvetica,sans-serif,sans-serif;
	color: #777a6c;
    font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.login-register-login-description, .login-register-register-form-description {
	color: #777a6c;
	text-align: center;
	margin: 0;
}
.login-register-login-required, .login-register-register-required {
	color: #777a6c;
	text-align: center;
	display: block;
}

// Form Inputs
.login-register-login-form-label, .login-register-register-form-label {
	font-size: 0.7rem;
    font-family: "Syncopate",Verdana,"Helvetica Neue",Helvetica,sans-serif,sans-serif;
	color: #777a6c;
    font-weight: 700;
	text-transform: uppercase;
}

.login-register-login-form, .login-register-register-form {
	input[type="text"], input[type="password"], input[type="email"], input[type="phone"], input[type="search"], input[type="number"] {
		padding: 4px 7px;
		border: 1px solid #777a6c;
		border-radius: 4px;
		display: block;
		width: 100%;
	}
	.login-register-login-submit, .login-register-register-form-submit {
		padding: 4px 7px;
		border: 1px solid #777a6c;
		border-radius: 4px;
		display: block;
		width: 100%;
		background-color: #777a6c;
		font-size: 0.7rem;
		font-weight: 700;
		font-family: "Syncopate",Verdana,"Helvetica Neue",Helvetica,sans-serif,sans-serif;
		text-align: center;
	}
	small {
		color: #777a6c;
	}
}


// Form - New Customer
.login-register-wrapper-column-register {
	color: white;
	@media (min-width: $screen-md-min){
		border-left: 1px solid #777a6c;
	}
}

.login-register-register-form-description {
	@media (min-width: $screen-lg-min){
		max-width: 300px;
		margin: 0 auto;
	}
}

.login-register-register-form-newsletter-signup {
	padding: 20px;
	border: 1px solid rgba(119, 122, 108, 0.2);
	p {
		color: #777a6c;
		padding-left: 20px;
	}
}