/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-details {
	@extend .container;
}

.item-details-content {

	@media (min-width: $screen-md-min) {
		margin-top: $sc-base-margin;
	}
}

.item-details-info {
	.item-view-lead-price {
		@extend .large-price;
	}
}

#option-custcol_item_number
{
	display: none;
}

.item-details-divider {

	margin: 10px 0;
	height:1px;
	background-color: $sc-color-theme-background;
	clear:both;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.item-details-divider-desktop {
	display: none;

	@media (min-width: $screen-md-min) {
		@extend .item-details-divider;
		margin-top:20px;
		border: none;
		display: block;
	}
}

.item-details-main-content {
	@extend .row;
}

.item-details-content-header {
	@extend .col-md-6;
	.global-views-star-rating-empty, .global-views-star-rating-filled {
		font-size: 20px;
	}
}

.item-details-rating-header {
	margin-top: $sc-base-margin;
	margin-bottom: $sc-base-margin * 4;

	.global-views-star-rating {
		float: none;
	}
}

.item-details-image-gallery-container{
	@extend .col-md-6;
	margin-bottom: 0;

	@media (min-width: $screen-md-min) {
		margin-bottom: $sc-large-margin;
	}
}

.item-details-gallery-prev-icon, .item-details-gallery-next-icon{
	position: absolute;
	top: 40%;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;
	font-size: 50px;
	color:#69331F;
	text-align: center;
	line-height: 0.8;
	@extend .fa;
}
.item-details-gallery-prev-icon:focus, .item-details-gallery-next-icon:focus {
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.item-details-gallery-prev-icon{
	left: 30px;
	@extend %fa-angle-left;
}

.item-details-gallery-next-icon{
	right:10px;
	@extend %fa-angle-right;
}

.item-details-carousel-next{
	@extend .button-tertiary;
	@extend .button-small;
	margin-left:$sc-base-margin * 2;
	cursor:pointer;
	cursor:hand;
	position:absolute;
	right:0px;
	top:50%;
}

.item-details-carousel-prev{
	@extend .button-tertiary;
	@extend .button-small;
	cursor:pointer;
	cursor:hand;
	position:absolute;
	left:0px;
	top:50%;
}
.item-details-carousel-next.disabled,
.item-details-carousel-prev.disabled {
	display: none;
}
.control-text{
	display:none;
}

.item-details-main {
	@media (min-width: $screen-md-min) {
		@extend .col-md-6;
	}
}

.item-details-price{
	margin-top:$sc-base-margin * 2;
}

.item-details-price .item-views-price-lead{
	@extend .large-price;
}

.item-details-sku-container {
	margin-bottom: 20px;
	@extend .sku;
}

.item-details-options-pusher {
	@extend .push-button-primary;
	margin-top: $sc-base-margin * 5;
	font-weight: $sc-font-weight-semibold;
	position: relative;

	& > span {
		font-weight: $sc-font-weight-normal;
		text-transform: capitalize;
	}

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}

}

.item-details-options-content {
	height: 100%;
	margin-top:0;
	background: $sc-color-theme-background-light;

	.pdp-detail-options-content-wrapper{
		padding: $sc-base-padding * 4;
	}

	@media (min-width: $screen-sm-min) {
		background: transparent;
		padding-bottom: 0;
		overflow:hidden;
	}

	.item-view-lead-price {
		@extend .large-price;
	}
}

.item-details-options-content-price,
.item-details-options-content-stock {
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}
.item-details-actions {
	margin-bottom: $sc-base-margin * 2;
}
.item-details-options-quantity-title {
	text-transform: uppercase;
	margin-bottom: $sc-base-margin * 2;
	display: block;
}
.item-details-options-quantity {
	margin-top:20px;
	font-weight:$sc-font-weight-bold;
	clear:both;
}

.item-details-options-quantity-title-help {
	clear: both;
	display: block;
	font-weight:$sc-font-weight-light;
	margin: $sc-base-margin * 2 0;
}

.item-details-add-to-cart-help{
	@extend .message-info;
	margin-top: $sc-base-margin * 3;
}

.item-details-add-to-cart-help-icon{
	@extend .fa;
	@extend %fa-info-circle;
	margin-right: $sc-base-margin;
}

/*
.item-details-quantity-add, .item-details-quantity-remove{
	@extend .button-secondary;
	background-color:lighten($sc-color-theme, 20%);
	border:1px solid lighten($sc-color-theme, 20%);;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;

	
	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.item-details-quantity-value {
	height: $sc-target-size-mobile;
 	padding:$sc-base-margin * 2 $sc-base-padding * 3 $sc-base-margin * 2 $sc-base-padding * 3;
 	width: 90px;
 	text-align: right;
	background-color: transparent;
	border:1px solid $sc-color-grey-dark;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	font-weight:$sc-font-weight-normal;
}

*/

.item-details-actions-container {
	margin-left: -$sc-base-margin * 2;
	margin-right: -$sc-base-margin * 2;
	@extend .clearfix;
}

.item-details-add-to-cart,
.item-details-add-to-wishlist {
	@extend .col-sm-6;
	position: static;
	padding-left: $sc-base-padding * 2;
	padding-right: $sc-base-padding * 2;
}

.item-details-add-to-cart-button{
	@extend .button-secondary;
	@extend .button-large;
	width: 100%;
 	font-weight: $sc-font-weight-semibold;
 	margin-top: $sc-base-margin * 3;
}

.item-details-social-share {
	// @extend .message-box;
	// @extend .message-box-info;
	margin-bottom:$sc-base-margin * 4;
}

.item-details-price-message {
    @extend .message;
 }

.item-details-price-msg-description {
	@extend .message-info;
	margin-top: $sc-base-margin * 2;
    margin-bottom: $sc-base-margin * 2;
}

.item-details-price-login-to-see-price {
	font-weight: normal;
}


@media (min-width: $screen-md-min) {

	.item-details-content-header {
		float: right !important;
	}

	.item-details-image-gallery-container {
		float: left;
	}

	.item-details-main {
		float: right !important;
	}
}

.pdp-item-more-info-content {
	background: $sc-color-theme-background-light;

	@media (min-width: $screen-sm-min) {
		background: transparent;
		overflow: auto;
	}
}

.item-details-info-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-base-margin * 3;
	position: relative;
	font-size: $sc-h4-font-size;

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
}

.item-details-more-info-content-container {
	background: $sc-color-theme-background-light;

	@media (min-width: $screen-sm-min) {
		background: transparent;
	}
}
[data-action="sc-pushing"].item-details-more-info-content-container {
	padding-bottom: $sc-base-padding * 2;
}
.item-details-more-info-content {
	margin-bottom: $sc-base-margin * 3;
}

.item-details-more-info-content ul {
	@extend .nav;
	@extend .nav-tabs;
	background-color: transparent;
	clear:both;

	@media (min-width: $screen-sm-min) {
		background-color: white;
	}

	// for speecificity comply
}

.item-details-info-hint {
	margin-top: $sc-base-margin * 3;
	color: $sc-color-copy;
	padding-right: $sc-base-padding * 3;
	text-overflow: ellipsis;
	overflow: hidden;
}

.item-details-tab-title a {
	background-color:$sc-color-theme-background;
	padding: $sc-base-padding * 4 $sc-base-padding * 6;
	float:left;
	margin-right: 2px;
	font-weight: $sc-font-weight-semibold;
	font-size:18px;
	text-transform: uppercase;
	color:$sc-color-theme;
}

.item-details-tab-title:only-child a{
	display:none;
}
.item-details-tab-title.active a {
	background-color:$sc-color-theme-background-light;
	color: $sc-color-theme-light;
}
.item-details-tab-content{
	@extend .item-details-more-info-content;
	background-color:transparent;
	clear:both;
	border:2px solid $sc-color-grey-light;
	h2{
		margin-bottom: $sc-base-margin * 4;
		border-bottom: 2px solid $sc-color-grey-light;
	}

	ul {
		background: none;
	}

	li{
		list-style: disc inside none;
		margin:5px 0 0 5px;
	}

	@media (min-width: $screen-sm-min){
		padding: $sc-base-padding * 6;
	}
}

[data-action="sc-pushing"] .item-details-tab-content{
	padding: $sc-base-padding * 3 $sc-base-padding * 6 $sc-base-padding * 6 0;
}
.item-details-more-info-content-tabs {
	display:none;

	@media (min-width: $screen-sm-min){
		display: block;
	}
}

.item-details-action {
	display: none;

	@media (min-width: $screen-sm-min){
		display: block;
	}
}
.item-details-main-bottom-banner {
	margin-bottom: $sc-medium-margin;
}
@media (min-width: $screen-sm-min){

	.item-details-tab-content-panel {
		display:none;
	}
	.item-details-tab-content-panel.active {
		display:block;
	}
}

.item-details-tab-content.show {
	.item-details-tab-content-panel {
		max-height: 100%;
	}
	.item-details-less {
		display: block;
	}
	.item-details-more {
		display: none;
	}
}
.item-details-tab-content-panel {
	background-color: $sc-color-theme-background-light;
	@media (min-width: $screen-sm-min){
		background-color: transparent;
		overflow: hidden;
		max-height: 400px;
		-webkit-transition: max-height 0.5s;
		-moz-transition: max-height 0.5s;
		transition: max-height 0.5s;
	}
}
.item-details-less {
	display: none;
	margin-top: $sc-base-margin * 2;
}
.item-details-more {
	margin-top: $sc-base-margin * 2;
	display:block;
}
.item-details-product-review-content {
	@extend .item-details-more-info-content;
}
.item-details-product-review-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-base-margin * 3;

	.item-details-product-review-pusher-rating {
		display: inline-block;
		vertical-align: middle;
	}
	.global-views-star-rating-area {
		margin-left: $sc-base-margin * 2;
		float: right;
	}
}
[data-type="sc-pusher"] {
	.global-views-star-rating-empty, .global-views-star-rating-filled {
		font-size: 20px;
	}
}
.item-details-rating-header {
	.global-views-star-rating-area {
		margin-right: $sc-base-margin;
	}
	.global-views-star-rating i {
		font-size: 20px;
	}
}

.item-details-text-required-reference {
	@extend .input-required;	
}

.item-details-text-required-reference-container {
	padding:$sc-base-padding * 3 0;
}

.item-details-header{}
.item-details-banner-top{}
.item-details-banner-top-details{}
.item-details-content-header-title{}
.item-details-banner-summary-bottom{}
.item-details-banner-details-bottom{}
.item-details-content-related-items{}
.item-details-content-correlated-items{}
.item-details-sku-value{}
.item-details-add-to-cart-help-text{}
.item-details-add-to-cart-form{}
.item-details-rating-header-rating{}

// Added by Quietdraw

$product-form-label-size: 0.8rem;

#product-detail {
	padding-top: 20px;
}

// Product Photos
.item-details-image-gallery-container {
	padding-top: 25px;
	// Adjust width according to new design
	@media (min-width: $screen-md-min){
		width: 56%;
		// Make room for the thumbnails
		.item-details-image-gallery {
			padding-left: 105px;
		}
		// Social Sharing -- when Hover
		.social-sharing-flyout-hover-icons {
			top: 20px;
    		left: 120px;
		}
		// Fade it in
		.bxslider, .item-details-image-gallery-detailed-image {
			-webkit-animation: 1s ease 0s normal forwards 1 productfadein;
			animation: 1s ease 0s normal forwards 1 productfadein;
		}
		// Product Thumbnails
		.bx-pager {
			/*
			position: absolute !important;
			top: 0;
			left: 0;
			margin: 0 !important;
			width: 100px;
			*/
			.bx-pager-item {
				margin: 2px;
			}
			a {
				margin: 0 !important;
				padding: 0 !important;
				&:hover, &.active {
					img {
						border-color: #777a6c;
					}
				}
			}
			img {
				//width: 95px;
				max-width: 95px;
				border: 1px solid transparent;
			}
		}
		// Prev + Next
		.item-details-gallery-prev-icon, .item-details-gallery-next-icon {
			display: none;
		}
	}
}




// Product Details

.item-details-content-header {
	// Adjust width according to new design
	@media (min-width: $screen-md-min){
		width: 44%;
	}
}
.item-details-main {
	// Adjust width according to new design
	@media (min-width: $screen-md-min){
		width: 44%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.item-details-content {
	// Product Title
	&-header-title {
		color: #777a6c;
		font-family: $font-family-syncopate;
		font-size: 1.1rem;
		line-height: 1.1rem;
		font-weight: normal;
		margin-bottom: 4px !important;
	}
	// Product SKU
	.item-details-sku-container {
		color: #777a6c;
		font-family: FreightTextProBook-Italic, serif;
		font-size: 1rem;
		font-weight: normal;
		float: left;
		display: inline-block;
	}
	// Product Price
	.item-views-price {
		display: inline-block;
		float: right;
		line-height: 1rem;
		span {
			color: #777a6c;
			font-family: FreightTextProBook-Italic, serif;
			font-size: 1rem !important;
			font-weight: normal;
			text-align: right;
		}
	}
	// Old Price 
	.item-views-price-old {
		font-size: 1rem;
	}
}

// Utility Class
.item-details-product-info-group {
	@include clearfix;
}

// Lockup - Price & SKU
.lockup__price {
	margin-bottom: 30px;
}

// Product Beadcrumbs
.item-details-breadcrumb {
	font-size: 0.5rem;
    font-family: "Syncopate",Verdana,"Helvetica Neue",Helvetica,sans-serif,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
	color: #777a6c;
	&__product-name {
		font-weight: normal;
	}
}

// Sizes + Options
.item-views-option-tile-title, .item-details-options-quantity-title, .item-views-option-color-label {
	color: #777a6c;
	font-family: FreightTextProBook-Italic, serif;
	font-size: $product-form-label-size;
	font-weight: normal;
	text-transform: none !important;
}

.item-views-option-tile-picker {
    margin-bottom: 10px;
    display: table;
    border: 1px solid #e0dece;
	border-collapse: collapse;
	li {
		display: table-cell;
		border: 1px solid #e0dece;
		a {
			display: block;
			transition: background-color 300ms;
			padding: 0;
			margin: 0;
			&:hover { 
				background-color: #e0dece;
				border: none;
				color: unset;
			}
			&.active {
				span {
					border: none;
					color: unset;
					padding: 1rem 1rem;
					background-color: #e0dece;
					color: #702b25;
				}
			}
			span {
				text-transform: uppercase;
				font-family: "Syncopate",Verdana,"Helvetica Neue",Helvetica,sans-serif,sans-serif;
				font-size: 0.6rem;
				color: #777a6c;
				// SCA Overrides
				padding: 0;
				border: none;
				text-align: center;
				line-height: 0.6rem;
				font-weight: normal;
				min-width: unset;
				padding: 1rem 1rem;
				&:hover { 
					border: none;
					color: #777a6c;
				}
			}
		}
	}
}

// Color Options
.item-views-option-color-tiles-container {
	// Clean up the First and Last Item
	li {
		margin-bottom: 20px;
		&:first-child {
			a.item-views-option-color-tile {
				// padding-left: 0;
			}
		}
		&:last-child {
			a.item-views-option-color-tile {
				padding-right: 0;
				&::after {
					display: none;
				}
			}
		}
	}
	a.item-views-option-color-tile {
		padding: 0 14px;
		.product-color-swatch-name {
			color: #777a6c;
			font-size: 0.5rem;
			text-transform: uppercase;
			line-height: 1.25rem;
			width: 0;
			transition: all 300ms;
			display: block;
			overflow: hidden;
			transform: translateX(-100%);
			opacity: 0;
			white-space: nowrap;
		}
		// Style
		&::after {
			content: ' ';
			height: 40px;
			width: 1px;
			top: 0;
			right: 0;
			background-color: #e0dece;
			position: absolute;
			display: block;
			transform: skewX(-25deg);
			transform: skewX(-25deg) translateY(-8px);
		}
		// Hover and Active States
		&:hover, &.active {
			span.product-color-swatch {
				box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
				border: 3px solid white;
			}
			.product-color-swatch-name {
				width: auto;
				transform: translateX(0);
				-webkit-animation: 300ms ease 0s normal forwards 1 productfadein;
				animation: 300ms ease 0s normal forwards 1 productfadein;
			}
			&::before {
				height: 0;
				width: 0;
				top: 0;
				left: 0;
				content: ' ';
				display: none;
				position: unset;
				border: none;
				z-index: 10;
			}
		}
	}
	span.product-color-swatch {
		border-radius: 50%;
		width: 20px;
		height: 20px;
		border: 3px solid white;
		transition: box-shadow 300ms;
		display: block;
		float: left;
		margin-right: 4px;
		overflow: hidden;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75) inset;
	}
}

// Product Quantity
.item-details-options-quantity {
	display: block;
	.item-details-quantity-wrapper {
		display: inline-block;
		border: 1px solid #e0dece;
	}
	.item-details-quantity-remove, .item-details-quantity-add {
		padding: 1rem 1.2rem;
		text-transform: uppercase;
		font-family: "Syncopate",Verdana,"Helvetica Neue",Helvetica,sans-serif,sans-serif;
		font-size: 0.6rem;
		color: #777a6c;
		font-weight: normal;
		transition: background-color 300ms;
		background-color: white;
		&:hover {
			background-color: #e0dece;
		}
	}
	#quantity {
		width: 40px;
		text-align: right;
		text-transform: uppercase;
		font-family: "Syncopate",Verdana,"Helvetica Neue",Helvetica,sans-serif,sans-serif;
		font-size: 0.6rem;
		color: #777a6c;
		font-weight: normal;
		text-align: center;
	}
}

// Product Help
.item-details-add-to-cart-help {
	color: #777a6c;
	font-family: FreightTextProBook-Italic, serif;
	font-size: $product-form-label-size;
	font-weight: normal;
	background-color: unset;
	padding: 0px;
    display: inline-block;
	position: relative;
	line-height: 1rem;
	text-transform: none;
}

// Add to Cart
.item-details-actions-container {
	button {
		border: 1px solid #e0dece;
		text-transform: uppercase;
		font-family: "Syncopate",Verdana,"Helvetica Neue",Helvetica,sans-serif,sans-serif;
		font-size: 0.6rem;
		color: black;
		font-weight: normal;
		transition: background-color 300ms;
	}
	.item-details-add-to-cart-button {
		background-color: #e0dece;
		&:hover {
			color: #e0dece;
			background-color: #777a6c;
		}
	}
	.product-list-control-button-wishlist {
		&:hover {
			color: #e0dece;
			background-color: #777a6c;
		}
	}
}

// Product Description
.item-details-product-description {
	margin-top: 40px;
	.item-details-description {
		color: #777a6c;
		font-family: FreightTextProBook-Italic, serif;
		font-size: $product-form-label-size;
		font-weight: bold;
		margin-bottom: 10px;
		text-transform: unset;
		letter-spacing: 0px;
	}
	p {
		font-family: CentSchbookBTWGL4WXX-Roman, serif;
		font-weight: normal;
		font-style: normal;
		color: #777a6c;
		line-height: 1.4em;
		margin-bottom: 15px;
		font-size: 14px;
		letter-spacing: 0.01rem;
	}
}

// Sharing
.item-details-social-buttons {
	color: #777a6c;
	font-family: FreightTextProBook-Italic, serif;
	font-size: $product-form-label-size;
	font-weight: normal;
	margin-bottom: 10px;
	text-transform: unset;
}

// Related Products
@media (max-width: $screen-sm-min){
	#product-detail {
		.heading-marquee {
			display: none;
		}
	}
}
.evergage-tooltip {
	p:first-of-type {
		display: none !important;
	}
	div[evergage-item-block] {
		a {
			img {

			}
			u {
				font-size: 0.8rem;
				font-family: "Syncopate",Verdana,"Helvetica Neue",Helvetica,sans-serif;
				text-transform: uppercase;
				margin-bottom: unset;
			}
		}
	}
}

		
@keyframes productfadein{
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}

@-webkit-keyframes productfadein{
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}