/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.footer-location
{
	margin-bottom: -6px !important;
	padding-bottom: 0 !important;
	margin-top: 9px;
	align-content: center;
	font-size: 13px;
}

nav.footer {
	.menu-footer-container {
		max-width: $screen-lg-min;
		margin-left: auto;
		margin-right: auto;
		@media (min-width: $screen-md-min){
			background-image: url(../img/logo-w-footer.svg);
			background-repeat: no-repeat;
			background-position: 15px 30px;
			background-size: 8.33%;
			padding: 10px 10px 30px;
		}
	}
	.menu {
		@media (min-width: $screen-md-min) {
			max-width: 650px;
			margin-left: auto;
			margin-right: auto;
		}
		@include clearfix();
		.col-group {
			@media (min-width: $screen-md-min){
				width: 33%;
				float: left;
			}
			> li {
				border-top: 1px solid #777a6c;
				@media (min-width: $screen-md-min){
					border: none;
				}
			}
			&:nth-of-type(1) {
				> li {
					&:first-child {
						border: none;
					}
				}
			}
		}
	}
	ul {
		li {
			-webkit-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
			
			> a {
				display: block;
				padding: 0.5rem 3rem;
				position: relative;
				text-decoration: none;
				color: #777a6c;
				font-family: FreightTextProBook-Italic, serif;
				font-weight: normal;
				font-style: normal;
				font-size: 0.8rem;
				@media (min-width: $screen-md-min){
					padding: 0 2rem;
				}
			}
			
			&.menu-item-has-children{
				&:nth-of-type(5) {
					@media (max-width: $screen-md-min - 1){
						> a::after {
							content: '' !important;
						}
					}
				}
				> a {
					font-size: 0.7rem;
					padding: 1rem 1.6rem 1rem 2rem;
					font-family: $font-family-syncopate, sans-serif;
					font-weight: 700;
					text-transform: uppercase;
					&::after {
						@media (max-width: $screen-md-min - 1){
							content: url(../img/icon-opener-plus.svg);
							display: block;
							font: normal normal normal 14px/1 FontAwesome;
							position: absolute;
							right: 1.04em;
							width: 15px;
							top: 50%;
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
						}
					}
				}
				&.open {
					> a {
						&::after {
							@media (max-width: $screen-md-min - 1){
								content: url(../img/icon-opener-minus.svg);
							}
						}
					}
					
					> ul {
						@media (max-width: $screen-md-min - 1){
							max-height: 999px;
						}
					}
				}
			}
			
			> ul {
				@media (max-width: $screen-md-min - 1){
					max-height: 0;
					overflow: hidden;
					-webkit-transition: all .25s ease-in-out;
					transition: all .25s ease-in-out;
				}
			}
		}
		
	}
}

.locations {
	display: block;
	padding: 0.5rem 3rem;
	position: relative;
	text-decoration: none;
	color: #777a6c;
	font-family: FreightTextProBook-Italic, serif;
	font-weight: normal;
	font-style: normal;
	font-size: 0.8rem;
	@media (min-width: $screen-md-min){
		padding: 0 2rem;
	}
	address {
		margin-bottom: 1.3rem;
	}
	.office-name {
		display: block;
	}
	.office-street-address {
		display: block;
	}
	.office-postal-code {
		margin-left: 4px;
	}
}


#menu-item-social {
	> a {
		display: none;
		@media (min-width: $screen-md-min){
			display: block;
			font-size: 0.7rem;
			padding: 1rem 1.6rem 1rem 2rem;
			font-family: $font-family-syncopate, sans-serif;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.social-links {
		display: flex;
		justify-content: space-between;
		max-height: 999px;
		margin: 1rem 1rem 1rem 2rem;
		@media (min-width: $screen-md-min){
			margin: 0;
			padding: 0 2.4rem 0 2rem;
		}
	}
	.social-icon {
		display: inline-block;
		> a {
			display: inline-block;
			border: 1px solid #777a6c;
			padding: 0;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			text-align: center;
			@media (min-width: $screen-md-min){
				width: 30px;
				height: 30px;
			}
			.fa {
				margin-top: 4px;
				@media (min-width: $screen-md-min){
					margin-top: 8px;
				}
			}
			.fa-play {
				margin-left: 3px;
			}
		}
	}
}


.footer-newsletter-signup {
	padding: 30px 15px;
	border-top: 1px solid #777a6c;
	border-bottom: 1px solid #777a6c;
	text-align: center;
	.wrapper {
		position: relative;
		overflow: hidden;
	}
	h5 {
		font-family: $font-family-syncopate, sans-serif;
		color: #777a6c;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.2em;
		letter-spacing: 0.1rem;
		margin-bottom: 12px;
	}
	p {
		font-family: $font-family-syncopate, sans-serif;
		color: #777a6c;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.5rem;
		max-width: 340px;
    	margin: auto;
		margin-bottom: 12px;
	}
	h4 {
		display: inline-block;
		font-family: $font-family-syncopate, sans-serif;
		color: #777a6c;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.5rem;
		margin-right: 15px;
		margin-left: -20px;
		@media (min-width: $screen-sm-min){
			font-size: 1.0rem;
			margin-left: -90px;
		}
	}
	form {
		padding: 0px 7px;
		border: 1px solid #777a6c;
		width: auto;
		display: inline-block;
		border-radius: 4px;
		@media (min-width: $screen-sm-min){
			padding: 4px 7px;
		}
		label {
			display: none;
		}
		input[type="text"] {
			width: 150px;
			-webkit-transition: ease-in-out,width .35s ease-in-out;
			transition: ease-in-out,width .35s ease-in-out;
			border-right: 1px solid #777a6c;
    		margin-right: 8px;
			padding: 0;
			font-size: 0.4rem;
			@media (min-width: $screen-sm-min){
				font-size: 0.8rem;
				width: 310px;
			}
			&:focus {
				@media (min-width: $screen-sm-min){
					width: 320px;
				}
			}
		}
		input[type="submit"] {
			letter-spacing: 2px;
			font-family: $font-family-syncopate, sans-serif;
			color: #777a6c;
			text-transform: uppercase;
			font-weight: 700;
			background-color: transparent;
			font-size: 0.4rem;
			@media (min-width: $screen-sm-min){
				font-size: 0.8rem;
			}
		}
	}
}

// Copyright + Base Nav

.footer__auxiliary {
	background-color: #702b25;
	text-align: center;
}

.footer__legal {
	p {
		color: #e6e4d4;
		font-family: $font-family-syncopate, sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.5rem;
		padding-top: 0.5rem;
	}
}

.footer__auxiliary-nav-list {
	li {
		display: inline-block;
		padding: 0 0.4rem;
		a {
			color: #e6e4d4;
			font-family: $font-family-syncopate, sans-serif;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 0.5rem;
		}
	}
}

.footer-content{
    @extend .container;
    @extend .row;
    margin: auto;
	padding-top: 23px;
    padding-bottom: 23px; 
}
.footer-content-nav {
    @extend .col-md-8;
    @extend .col-xs-12;
    padding-left: 0;
    padding-right: 0;
}

.footer-nav-title
{
	font-size: 15px;
	padding-bottom: 8px;
	padding-top: 17px;
	color:$sc-color-theme-background-light;
	font-weight:$sc-font-weight-normal;
    line-height: 26px;	
    float: left;
    width: 100%;    
    text-transform: uppercase;
    letter-spacing: 1px;    
	@media (max-width: 370px){
		padding-top:0px;
	}
}

.footer-newsletter{
	position:relative;
    float: left;
    width: 100%;	
	input{
		padding: 3.3% 33% 3.3% 3.7%;
	    background: transparent;
	    border: 1px solid $sc-color-theme-background-light;	
	    float: left;
	    width: 100%;
	    color: $sc-color-theme-background-light;
	    &:hover, &:focus{
			outline: none;
	    }
	    @media (max-width: $screen-sm-min) {	    
	    	padding: 10px 3.7% 10px 3.7%;
	    }	
	}
	button{
	    padding: 3.4% 4.5%;
	    background: $sc-color-theme-background-light;
	    float: right;
	    position: absolute;
	    bottom: 1px;
	    right: 0px;
	    color: $sc-color-secondary;
	    @media (max-width: $screen-md-min) {
		    position: relative;
		    bottom: 0;
		    right: 0;
		    width: 100%;
		    margin-top: 7px;			
	    }	    	
	    @media (max-width: $screen-sm-min) {
    		padding: 10px 4.5%;
	    }	
	}
}

.footer-social-links{
    float: left;
    width: 100%;	
    @media (max-width: $screen-sm-min) {
		margin-top: 20px
    }
}

.footer-social-links .social-light-icon{
	float: left;
	margin-right: 12px;		
	a{
	    font-size: 24px;
	    float: left;	
	    color: $sc-color-theme-background-light;
	    i{
	    	float: left;
	    }		
	}
}

.footer-nav-column{
	@extend .col-md-3;
	@extend .col-sm-3;
	@extend .col-xs-12;
	margin-bottom:15px;
}

.footer-nav-contact{
	span, a{
		float: left;
		width: 100%;
		font-size: 12px;
		color:$sc-color-theme-background-light;
	}
}

.footer-nav-contact {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.footer-content .contact-box .address-company A
{
	line-height: 1.5;
}
.footer-content .row .col-md-12
{
	padding-bottom: 19px;
}

.footer-content .contact-box ADDRESS.address-company
{
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}
FOOTER .about-company IMG.wp-image-15260.aligncenter
{
	width: 150px;
}

.social-dark ul li{
	display:inline;
	margin-top: 10px;
	float: left;
	list-style-type: none;
}

.fa-facebook{
	@extend .fa;
	@extend %fa-facebook;
}
.fa-linkedin{
	@extend .fa;
	@extend %fa-linkedin;
}
.fa-instagram{
	@extend .fa;
	@extend %fa-instagram;
}
.fa-pinterest{
	@extend .fa;
	@extend %fa-pinterest;
}
.fa-video-camera{
	@extend .fa;
	@extend %fa-video-camera;
}

.fa-play{
	@extend .fa;
	@extend %fa-play;
}

.footer-content .col-md-12 .row
{
	margin-top: 31px;
}
.footer-content .trademark-statement P
{
	font-size: 10px;
	padding-bottom: 10px;
}
.footer-content .trademark-statement.row
{
	padding-top: 9px;
	border-top: 1px solid rgba(106, 51, 31, 0.118);
	margin-top: 14px;
}


.footer-content .contact-box.col-md-3
{
	border: 1px solid rgba(105, 51, 31, 0.255);
	padding: 10px 0px;
}

.footer-content-nav-list {
    list-style: none;
    margin: 0;
    text-align: center;
    padding: $sc-base-padding * 6 0 0;

    @media (min-width: $screen-sm-min) {
        padding-top: $sc-base-padding * 5;
    }

    @media (min-width: $screen-md-min) {
        text-align: left;
    }
}

.footer-nav H4
{
@media (max-width: 900px){
	margin-top: 21px;
}
}

.footer-nav{
    float: left;
    width: 100%;
    margin-bottom: 5px;	
}

.footer-content-nav-menu {
	padding-bottom:2px;
	> li {
	    display: inline-block;
	    font-weight: 300;
	    float: left;
   		width: 100%;    
   		font-size: $sc-small-font-size;
	}
    a{
    	color:$sc-color-theme-background-light;
    }
}

.footer-content-copyright
{
	text-align: center;
	font-size: $sc-smallest-font-size;
	color: $sc-color-theme-light;
	float: right;
	clear: both;
	width:100%;
    @media (min-width: $screen-md-min) {
        text-align: right;
        float: right;
    }	
	@media (max-width: $screen-sm-min) {
    	margin-top: 22px;
	}
	a{
		color: $sc-color-theme-light;
		&:hover{
			text-decoration: underline;
		}
	}
}

.trademark-statement.col-md-12{
    padding-bottom: 0 !important;
    padding-top: 15px;
}
